body{
    background-color: antiquewhite;
}

header{
    
}

#container{
    margin: 0 auto;
    max-width: 840px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h3{
    background-color: black;
    color: white;
    padding: 8px;
    padding-left: 16px;
    margin: 10px 0;
}

footer{
    padding-left: 20px;
}