body{
    background-color: antiquewhite;
    color: black;
}

header{
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
}

#container{
    margin: 0 auto;
    max-width: 840px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h3{
    background-color: black;
    color: white;
    padding: 8px;
    padding-left: 16px;
    margin: 10px 0;
}

.larger{
    font-size: 24px;
}

footer{
    padding-left: 20px;
}

footer p{
    font-size: 12px;
}